*,html{
    margin:0;
    padding:0;
    font-weight:lighter;
    box-sizing: border-box ;
    scroll-behavior: smooth;
}

body{
    font-family: 'Bebas Neue', sans-serif;
}

#welcome-section{
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(240deg, rgb(39, 39, 39) 50% , rgb(21, 123, 0) 40%);
    color:white;
    border-bottom:2px solid white;
   
}

section p{
    font-size:20px;
    color:white;
    
}

h1{
    font-weight:lighter;
    font-size:80px;
    padding:0;
}


.navbar{
    position:sticky;
    top:0;
    background-color: white;
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    padding:10px;
    z-index:1;
   
}
h3{
    font-size:40px;  
}

ul
{
    margin-top:10px;
    list-style:none;
    display:flex;
    gap:30px;
    justify-content: space-evenly;
    align-items:center;
    
}
a{
    
    text-decoration: none;
    padding:10px;
    color:black;
}

a:hover{
    color:green;
}


#projects a{
   padding:0; 
}

.project-tile{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: rgb(37, 39, 37);
    padding:10px;
    border:1px dashed green;
    
    
   
}
.project-tile img{
    width:20vw;
    height:30vh;
    object-fit:cover;
  
}

.project-tile h3{
    color:rgb(20, 142, 2);
}



#projects{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    height:100vh;
    background-color:rgb(41, 41, 41);
   
}

.grid-total{
    display:flex;
    gap:10px;
    padding:10px;
}

@media only screen and (max-width:600px){
    
.grid-total{
    display:flex;
    gap:10px;
    flex-direction: column;
    padding:10px;
}
.navbar{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    padding:10px;
   
}

}

.project-title{
    padding:10px;
    font-size:60px;
    color:white;
    text-decoration: underline;

}

a  h3:before{
    content:"</";
    opacity:0;
   
}

a h3::after{
    content: ">";
    opacity:0;
    transition:opacity 0.1s ease-in-out;
}

a:hover h3::before,
a:hover h3::after{
    opacity:1;
    transition:opacity 0.1s ease-in-out;
}



.green-grad:hover{
    font-style:italic;
    color:green;
    filter:brightness(10)

}

.project-tile:hover{
   
    transform:scale(1.02);
    transition:transform 0.8s ease-in-out;
    object-fit: cover;
}

#contact{
    
    display:flex;
    flex-direction: column;
    height:100vh;
    align-items: center;justify-content: center;
    background:linear-gradient(360deg, rgb(39, 39, 39) 56% , rgb(21, 123, 0) 56%);
}

#contact h1{
    position: relative;
    background:linear-gradient(360deg, rgb(247, 248, 247) 50% , rgb(53, 53, 53) 40%);
    background-clip: text;
    color:transparent; 
}



#contact ul{
    margin:auto;
    gap:20px;
    
    
}

#contact a{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    font-size:30px;
   
}

#contact a:hover{
    
    top:10px;
    transition: top 1s ease-in-out;

}

#contact a>img{
    width:20%;
    height: 20%; ;
    object-fit: cover;
}

