
*{
  box-sizing:border-box;
}
main{
    background-color:#e6ebe7;
  }
  
  body{
    font-family:serif;
    margin:0;
    padding:10px;
    overflow:hidden;
    overflow-y: scroll;
   
  }
  
  header{
   text-align:center;
  }
  
  header h1{
    font-size:3em;
    margin:0;
    
    
  }
  header p{
    margin:0;
    color:grey;
    
  }

  #img-div {
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    background-color:white;
    margin:0 30px; ;
  }

  #image{
    transform:skew(500);
    padding-bottom: 10px;
    padding-top:10px;
    width:50rem;
    max-width: max-content;
    height:fit-content;

  }

  #img-caption{
    padding-bottom:10px;
  }

  h2{
    text-align:center;
  }

  #tribute-info{
    width:40%;
    margin:0 auto;
    padding:30px;

  }

  #tribute-info ul>li{
    padding-bottom:20px;
    font-size:13;
    font-weight:lighter;
    color:rgb(53, 53, 53);

  }

  strong{
    color:#000000;
  }
  em{
    text-align:justify;
  }

  footer{
    max-width:200em;
  }
  footer h2{
    font-size:-5rem;
    padding-bottom:10px;
  }
  
  a{
    color:rgb(0, 128, 255);
   
  }

  .class{
    opacity: 0;
    padding: 0%;
  }